*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}
:root {
  --primary-color: #1f6f8b;
  --primary-font: "Noto Sans JP", sans-serif;
  --secondary-color: #faf9f9;
}

.dFlex {
  display: flex;
}
.justifyBetween {
  justify-content: space-between;
}
.alignCenter {
  align-items: center;
}
.justifyCenter {
  justify-content: center;
}
.container {
  max-width: 1296px;
  margin: 0 auto;
}
.flexEnd {
  justify-content: flex-end;
}
.dGrid {
  display: grid;
}
/* editing menu */
.navBar > .logo {
  text-transform: capitalize;
  font-family: var(--primary-font);
  color: var(--primary-color);
  font-size: 24px;
  font-weight: 700;
}
.menu ul {
  list-style: none;
  text-transform: capitalize;
  font-family: var(--primary-font);
  grid-template-columns: repeat(5, 5fr);
  gap: 30px;
}
.menu a {
  color: rgb(54, 54, 54);
  text-decoration: none;
}
.menu a:hover {
  color: var(--primary-color);
}
.navBar {
  padding-top: 10px;
  grid-template-columns: repeat(2, 3fr);
  background-color: var(--secondary-color);
  padding: 30px 20px;
  box-shadow: 0 15px 30px -15px rgb(0 0 0 / 30%);
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../images/hero_bg_1.jpg");
  background-size: cover;
  height: 100vh;
}
.property::after {
  content: "\f107";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  margin: 0px 0px 0px 10px;
  text-decoration: none;
}

/* dropDown */
.dropDown {
  visibility: hidden;
  list-style: none;
  text-transform: capitalize;
  font-family: var(--primary-font);
  background-color: var(--secondary-color);
  position: absolute;
  z-index: 999;
  text-align: left;
  box-shadow: 0 2px 10px -2px rgb(0 0 0 / 10%);
  padding: 20px 0;
  margin-top: 20px;
  margin-left: 0;
  transition: 0.2s 0s;
}
.dropDown > li {
  list-style: none;
  padding: 0;
  margin: 0;
  min-width: 180px;
}
.dropDown > li > a {
  padding: 5px 20px;
}
.dropDown-2 {
  visibility: hidden;
  list-style: none;
  text-transform: capitalize;
  font-family: var(--primary-font);
  background-color: var(--secondary-color);
  position: absolute;
  z-index: 999;
  text-align: left;
  box-shadow: 0 2px 10px -2px rgb(0 0 0 / 10%);
  padding: 20px 0;
  margin-top: 20px;
  margin-left: 0;
  transition: 0.2s 0s;
  left: 100%;
  transform: translate(0, -50%);
}
.dropDown-2 > li {
  list-style: none;
  padding: 0;
  margin: 0;
  min-width: 180px;
}
.dropDown-2 > li > a {
  padding: 5px 20px;
}
ul li:hover > ul,
ul {
  visibility: visible;
}
.item {
  padding: 3px 0 15px 0;
}
#dropDown2::after {
  content: "\f105";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  margin: 0px 0px 0px 10px;
  text-decoration: none;
}
/* editing slogan */
form{
  margin: 20px auto;
}
.slogan > h1 {
  font-family: var(--primary-font);
  color: var(--secondary-color);
  text-align: center;
}
.slogan input:nth-child(1) {
  display: inline-block;
  padding: 20px 20px;
  width: 50%;
  border: none;
  border-radius: 30px;
}
.slogan input:nth-child(2) {
  display: inline-block;
  padding: 20px 60px;
  border: none;
  border-radius: 30px;
  background: linear-gradient(to left, #e02a82, #772a90);
  color: var(--secondary-color);
  font-size: 18px;
}
.slogan input:nth-child(2):hover {
  cursor: pointer;
  position: relative;
  bottom: 2px;
}
.slogan {
  height: 100vh;
  align-content: center;
  gap: 30px;
}
.slogan p {
  color: var(--secondary-color);
  width: 100%;
  text-align: center;
  font-family: var(--primary-font);
}
.slogan a {
  color: var(--secondary-color);
  font-family: var(--primary-font);
  display: block;
  text-align: center;
  text-transform: capitalize;
}
.hamburgerMenu,
.hamburgerMenu > label ul {
  visibility: hidden;
}

/* features section css */
.features {
  margin-top: -80px;
  position: relative;
  z-index: 8;
  text-align: center;
}
.row {
  gap: 30px;
}
.row > .box {
  width: 100%;
  height: 100%;
  background-color: var(--secondary-color);
  border-radius: 4px;
  padding: 30px;
  box-shadow: 0 15px 30px 0 rgb(0 0 0 / 10%);
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #212529;
  z-index: 9999;
}
.box i {
  font-size: 60px;
  color: #40849c;
}
.box p {
  font-family: var(--primary-font);
  text-transform: capitalize;
  font-size: 20px;
  padding-top: 20px;
}

.row {
  grid-template-columns: repeat(4, 4fr);
}

/* editing popular properties section */

.popularProperty {
  margin-top: 150px;
}
.popularProperty .buttons > h2 {
  font-size: 32px;
  font-family: var(--primary-font);
  color: var(--primary-color);
  text-transform: capitalize;
}
.popularProperty .buttons > a {
  padding: 16px 24px;
  text-decoration: none;
  background-image: linear-gradient(
    250deg,
    rgb(248, 42, 126) 0%,
    rgb(117, 42, 144) 100%
  );
  border-radius: 30px;
  width: 186px;
  height: 56px;
  color: white;
  text-align: center;
  line-height: 24px;
  margin-top: -10px;

  font-family: var(--primary-font);
  text-transform: capitalize;
}
.imgBox1 {
  background-image: url("../images/img_1.jpg");
  background-size: cover;
  height: 432px;
  width: 432px;
}
.imgBox2 {
  background-image: url("../images/img_4.jpg");
  background-size: cover;
  height: 432px;
  width: 432px;
}
.imgBox3 {
  background-image: url("../images/img_8.jpg");
  background-size: cover;
  height: 432px;
  width: 432px;
}
.propertyBox {
  margin-top: 30px;
}
.textBox {
  background: #fff;
  padding: 30px;
  font-size: 13px;
  position: relative;
  top: 100%;
  width: 98%;
  margin-top: -100px;
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 5%);
  z-index: 2;
}
.price > span {
  font-size: 18px;
  font-weight: bold;
  font-family: var(--primary-font);
  border-bottom: 2px solid #e02a82;
}
.address > span:nth-child(1) {
  color: rgba(0, 0, 0, 0.5) !important;
  display: block;
  font-family: var(--primary-font);
  margin-top: 15px;
  margin-bottom: 20px;
}
.address > span:nth-child(2) {
  display: block;
  font-family: var(--primary-font);
  margin-top: 15px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
}
.facilities > span {
  display: inline-block;
  padding: 10px 10px;
  font-family: var(--primary-font);
}
.facilities > span:nth-child(1)::before {
  content: "\f236";
  font-family: FontAwesome;
}
.facilities > span:nth-child(2)::before {
  content: "\f2cd";
  font-family: FontAwesome;
}
.buttons > a:hover {
  position: relative;
  bottom: 2px;
  box-shadow: 0 15px 30px -15px rgb(0 0 0 / 30%);
}

/* Testimonials section edit */
.testimonial h2 {
  color: var(--primary-color);
  font-family: var(--primary-font);
  margin-bottom: 15px;
  margin-top: 20%;
  text-transform: uppercase;
  font-size: 32px;
}
.comments h3 {
  font-size: 24px;
  color: var(--primary-color);
  font-family: var(--primary-font);
  text-transform: capitalize;
  padding: 0 10px;
}
.comment1,
.comment2,
.comment3 {
  background-color: white;
  width: 60%;
  height: 60%;
}
.comment1 > img,
.comment2 > img,
.comment3 > img {
  border-radius: 50%;
  width: 20%;
  margin-bottom: 15px;
  margin-top: 20px;
  margin-left: 5px;
}
.comment1 > p,
.comment2 > p,
.comment3 > p {
  text-align: justify;
  padding: 0 10px;
  margin: 30px 0;
  font-family: var(--primary-font);
}
.job {
  font-family: var(--primary-font);
  text-transform: capitalize;
  color: rgb(78, 78, 78);
}
/* dream homes section edit */
.dreamHomesHeader {
  width: 100%;
  height: 26%;
  flex-direction: column;
}
.dreamHomesHeader > h2 {
  margin-top: 50px;
  text-align: center;
  font-size: 32px;
  margin-bottom: 30px;
  font-family: var(--primary-font);
  color: var(--primary-color);
  text-transform: uppercase;
}
.dreamHomesHeader > p {
  width: 600px;
  text-align: center;
  color: #838383;
  font-family: var(--primary-font);
}
.dreamHomes {
  border-top: 1px solid #838383;
}
.dreamHomesMain img {
  width: 641px;
  height: 427px;
}
.dreamHomesMain {
  margin-top: 80px;
}
.dreamHomesPicture::after {
  position: relative;
  display: block;
  z-index: -1;
  bottom: 30%;
  right: -50%;
  content: "";
  width: 412px;
  height: 220px;
  background: url(../images/dots.png) no-repeat;
}
.dreamBox1 div:nth-child(1) {
  background-color: #efefef;
  border-radius: 50%;
  width: 86px;
  height: 86px;
  transition: 0.1s;
  margin-bottom: 5px;
}
.dreamBox2 div:nth-child(1) {
  background-color: #efefef;
  border-radius: 50%;
  width: 86px;
  height: 86px;
  transition: 0.1s;
  margin-bottom: 5px;
}
.dreamBox3 div:nth-child(1) {
  background-color: #efefef;
  border-radius: 50%;
  width: 86px;
  height: 86px;
  transition: 0.1s;
}

.dreamBox1 h3 {
  font-size: 20px;
  font-family: var(--primary-font);
  text-transform: uppercase;
  padding-left: 15px;
}
.dreamBox2 h3 {
  font-size: 20px;
  font-family: var(--primary-font);
  text-transform: uppercase;
  padding-left: 15px;
}
.dreamBox3 h3 {
  font-size: 20px;
  font-family: var(--primary-font);
  text-transform: uppercase;
  padding-left: 15px;
}
.dreamBox1 p {
  font-size: 12px;
  font-family: var(--primary-font);
  text-transform: uppercase;
  margin-top: 5px;
  padding-left: 15px;
}
.dreamBox2 p {
  font-size: 12px;
  font-family: var(--primary-font);
  text-transform: uppercase;
  margin-top: 5px;
  padding-left: 15px;
}
.dreamBox3 p {
  font-size: 12px;
  font-family: var(--primary-font);
  text-transform: uppercase;
  margin-top: 5px;
  padding-left: 15px;
}
.dreamBox1:hover .content,
.dreamBox2:hover .content,
.dreamBox3:hover .content {
  outline: 2px solid var(--primary-color);
  color: var(--primary-color);
  background: white;
}
.numbers {
  grid-template-columns: repeat(4, 1fr);
  padding-bottom: 200px;
}
.number1 p,
.number2 p,
.number3 p,
.number4 p {
  display: block;
  font-family: var(--primary-font);
  font-size: 30px;
  color: var(--primary-color);
  font-weight: bold;
}
.number1 span::before,
.number2 span::before,
.number3 span::before,
.number4 span::before {
  content: "#of ";
  font-family: var(--primary-font);
  font-size: 18px;
}
.number1 span,
.number2 span,
.number3 span,
.number4 span {
  font-family: var(--primary-font);
  font-size: 18px;
  text-transform: capitalize;
}

/* ourAgent section */
.ourAgent {
  background-color: var(--secondary-color);
}
.agentText {
  flex-direction: column;
  width: 500px;
  margin: 0 auto;
  margin-bottom: 50px;
}
.agentText h3 {
  font-family: var(--primary-font);
  font-size: 32px;
  color: var(--primary-color);
  text-transform: capitalize;
  margin-top: 50px;
}
.agentText p {
  font-family: var(--primary-font);
  margin-top: 50px;
  text-align: center;
}
.Agents {
  width: 100%;
  height: 75%;
  padding-top: 45px;
  padding-bottom: 200px;
  justify-content: space-evenly;
}
.agent1,
.agent2,
.agent3 {
  width: 30%;
  height: 325px;
  background-color: white;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.agentProfile1,
.agentProfile2,
.agentProfile3 {
  width: 90px;
  height: 90px;
  position: relative;
  transform: translate(0, -50%);
}
.agentProfile1 img,
.agentProfile3 img,
.agentProfile2 img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.agentDescription h5 > a {
  color: black;
  text-decoration: none;
  font-size: 18px;
  line-height: 21.6px;
  font-family: var(--primary-font);
  text-transform: capitalize;
}
.agentDescription {
  text-align: center;
}
.agentSocial1,
.agentSocial2,
.agentSocial3,
.agentSocial4 {
  width: 40px;
  height: 40px;
  background-color: #1f6f8b;
  border-radius: 50%;
  margin-left: 10px;
  position: relative;
  color: white;
}
.agentSocial1 i,
.agentSocial2 i,
.agentSocial3 i,
.agentSocial4 i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.agentSocial {
  margin: 15px 0;
}

.agentSocial1:hover,
.agentSocial2:hover,
.agentSocial3:hover,
.agentSocial4:hover {
  background-color: white;
  border: 2px solid #1f6f8b;
  color: #1f6f8b;
  position: relative;
  bottom: 2px;
  transition-duration: 0.5s;
  transition-property: background-color, color;
  transition-timing-function: ease-in-out;
  cursor: pointer;
}
.agentDescription > span {
  font-size: 14px;
  color: #7f7f7f;
  margin-bottom: 16px;
  display: inline-block;
  font-family: var(--primary-font);
  text-transform: capitalize;
}
.agentDescription > p {
  text-transform: capitalize;
  font-family: var(--primary-font);
  padding: 0 20px;
}

/* footer section */
.footerSlogan h3 {
  font-size: 3em;
  font-family: var(--primary-font);
  color: var(--primary-color);
  text-align: center;
  text-transform: capitalize;
  padding-top: 50px;
}
footer {
  background-color: #efefef;
}
.footerSlogan a {
  background-image: linear-gradient(
    250deg,
    rgb(248, 42, 126) 0%,
    rgb(117, 42, 144) 100%
  );
  padding: 16px 24px;
  border-radius: 30px;
  text-decoration: none;
  color: var(--secondary-color);
  width: 246px;
  height: 56px;
  line-height: 24px;
  font-family: var(--primary-font);
  text-transform: capitalize;
  position: relative;
  display: inline-block;
}
.footerSlogan a:hover {
  box-shadow: 0 15px 30px 0 rgb(0 0 0 / 20%);
  top: -2px;
}
.footerSlogan {
  flex-direction: column;
  gap: 40px;
}
.footerElements {
  grid-template-columns: repeat(3, 5fr);
  margin-top: 80px;
}
.contactElement h3 {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 15px;
  color: var(--primary-color);
  font-family: var(--primary-font);
}
.contactElement address {
  margin-bottom: 16px;
  font-size: 14px;
  font-style: normal;
  font-family: var(--primary-font);
  color: #7f7f7f;
}
.contactElement ul,
.contactElement a {
  list-style: none;
  font-family: var(--primary-font);
  color: #7f7f7f;
  text-decoration: none;
  border-bottom: 2px solid rgba(31, 111, 139, 0.1);
  display: inline-block;
  margin: 10px 0;
}
.contactElement a:hover {
  border-bottom: 2px solid #1f6f8b;
  transition: all 0.3s ease;
}
.sourcesElement h3 {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 15px;
  color: var(--primary-color);
  font-family: var(--primary-font);
}
.sourcesElement ul {
  list-style: none;
  font-family: var(--primary-font);
  color: #7f7f7f;
  text-decoration: none;
}
.sourcesElement li {
  border-bottom: 2px solid rgba(31, 111, 139, 0.1);
  margin: 10px 0;
}
.sourcesElement li:hover {
  border-bottom: 2px solid #1f6f8b;
  transition: all 0.3s ease;
}
.elements {
gap: 30px;
}
.linkElement h3 {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 15px;
  color: var(--primary-color);
  font-family: var(--primary-font);
}
.linkElement ul {
  list-style: none;
  font-family: var(--primary-font);
}
.linkElement li {
  border-bottom: 2px solid rgba(31, 111, 139, 0.1);
  margin: 10px 0;
}
.linkElement li:hover {
  border-bottom: 2px solid #1f6f8b;
  transition: all 0.3s ease;
}
.linkElement a {
  color: #7f7f7f;
  text-decoration: none;
}
.elements1 {
  flex-direction: column;
}
.socialLink {
  width: 40px;
  height: 40px;
  border-radius: 40%;
  background-color: #7f7f7f;
}
.socialLink i {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: var(--secondary-color);
}
.socialLink:hover {
  background-color: #1f6f8b;
  position: relative;
  bottom: 2px;
}
/* copyright */
.copyright {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  color: #7f7f7f;
  font-size: 14.8px;
  padding-top: 40px;
  font-family: var(--primary-font);
}
.copyright i {
  color: #dc3545;
}
/* menu responsive  */
@media (max-width: 425px), (max-width: 500px), (max-width: 768px) {
  :root {
    --primary-color: #1f6f8b;
    --primary-font: "Noto Sans JP", sans-serif;
    --secondary-color: #faf9f9;
  }
header{
  overflow-x: hidden;

}
  .menu > ul {
    visibility: hidden;
  }
  .hamburgerMenu,
  .hamburgerMenu > label ul {
    visibility: visible;
  }
  label .toggleMenu {
    position: absolute;
    right: 10%;
    top: -100px;
    z-index: 100;
    width: 15%;
    height: 10%;
    background: var(--secondary-color);
    /* border-radius: 50% 50% 50% 50%; */
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    box-shadow: 0 0 0 0 var(--secondary-color), 0 0 0 0 var(--secondary-color);
    cursor: pointer;
  }

  label .hamburger {
    position: absolute;
    top: 135px;
    left: 50px;
    width: 30px;
    height: 2px;
    background: black;
    display: block;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }

  label .hamburger:after,
  label .hamburger:before {
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: black;
  }

  label .hamburger:before {
    top: -10px;
  }

  label .hamburger:after {
    bottom: -10px;
  }

  label input {
    display: none;
  }

  label input:checked + .toggleMenu {
    box-shadow: 0 0 0 10px var(--secondary-color),
      0 0 0 100vh var(--secondary-color);
    border-radius: 0;
  }

  label input:checked + .toggleMenu .hamburger {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  label input:checked + .toggleMenu .hamburger:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    bottom: 0;
  }

  label input:checked + .toggleMenu .hamburger:before {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    top: 0;
  }

  label input:checked + .toggleMenu + ul {
    opacity: 1;
  }

  label ul {
    z-index: 200;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
    -webkit-transition: 0.25s 0s ease-in-out;
    transition: 0.25s 0s ease-in-out;
    list-style: none;
  }

  label a {
    margin-bottom: 1em;
    display: block;
    color: var(--primary-color);
    text-decoration: none;
    font-family: var(--primary-font);
  }

  h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 80%;
    text-align: center;
  }

  .row {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
  }
  .slogan > h1 {
    padding-bottom: 165px;
  }
  .slogan input:nth-child(2) {
    padding: 20px 35px;
  }
  .dreamHomesMain {
    flex-direction: column;
  }
  .dreamHomesPicture::after {
    content: "";
    display: none;
  }
  .propertyBox {
    flex-direction: column;
    align-items: center;
  }
  .testimonial h2 {
    padding-top: 100px;
    text-align: center;
  }
  .comments {
    flex-direction: column;
    align-items: center;
  }
  .dreamHomesHeader > p {
    width: 200px;
  }
  .dreamHomesMain img {
    width: 100%;
    height: auto;
  }
  .dreamBox1,
  .dreamBox2,
  .dreamBox3 {
    flex-direction: column;
  }
  .dreamHomeFeatures {
    display: flex;
    flex-direction: row;
    margin-bottom: 200px;
  }
  .Agents {
    flex-direction: column;
    align-items: center;
  }
  .agent1,
  .agent2,
  .agent3 {
    width: 100%;
    margin-bottom: 100px;
  }
  .footerSlogan a {
    width: auto;
    line-height: 0;
  }
  .footerElements {
    flex-direction: column;
    margin-left: 20px;
  }
  .agentText p {
    width: 50%;
  }
  .agentText {
    width: 100%;
  }
  
}
